!!!5
html
  head
    script(type="text/javascript") 
      window._rock_host = "#{host}"
    script(src="http://#{host}/static/components/ozjs/oz.js")
    script(src="http://#{host}/static/scripts/ozconfig.js")
    script(src="http://#{host}/static/scripts/iframe.js")

