{% raw %}
<script id="tmpl-song-info" type="text/template">
  <table class="table table-striped" id="hear-list">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Rate</td>
        <td>Artist</td>
        <td>Album</td>
      </tr>
    </thead>
    <tbody>
      {{#song}}
      <tr class='one_song'>
          <td>
              <button class="btn btn-play" data-sid="{{sid}}">
                  <i class="icon-plus"></i>
              </button>
          </td>
          <td>{{title}}</td>
          <td>
              {{#like}}
              <i class="icon-star"></i>
              {{/like}}
              {{rating_avg}}
          </td>
          <td>{{artist}}</td>
          <td>
              <a href="http://www.douban.com{{album}}">{{albumtitle}}</a>
          </td>
      </tr>
      {{/song}}
    </tbody>
  </table>
</script>

<script id="tmpl-waittinglist" type="text/template">
  <table class="table table-striped" id="waittinglist">
    <thead>
      <tr>
        <td>#</td>
        <td>Title(liked)</td>
        <td>Artist</td>
        <td>Album</td>
      </tr>
    </thead>
    <tbody>
      {{#.}}
      <tr class='one_song'>
          <td>
              <button class="btn btn-play" data-sid="{{sid}}">
                  <i class="icon-play"></i>
              </button>
          </td>
          <td>
            {{title}}
            {{#like}}<i class="icon-star"></i>{{/like}}
          </td>
          <td>{{artist}}</td>
          <td>
              <a href="http://www.douban.com{{song.album}}">{{albumtitle}}</a>
          </td>
      </tr>
      {{/.}}
    </tbody>
  </table>
</script>
{% endraw %}
