// icon-xxx class


@import 'bootstrap/variables'

// Custom Variables
$iconSpritePath = "/static/components/bootstrap-stylus/img/glyphicons-halflings.png"
$iconWhiteSpritePath = "/static/components/bootstrap-stylus/img/glyphicons-halflings-white.png"

@import 'bootstrap/mixins'

@import 'bootstrap/reset'

@import 'bootstrap/type'
@import 'bootstrap/utilities'

// Grid and layout
@import 'bootstrap/scaffolding'
@import 'bootstrap/layouts'
@import 'bootstrap/grid'

// Components
@import 'bootstrap/navs'
@import 'bootstrap/navbar'
@import 'bootstrap/buttons'
@import 'bootstrap/forms'
@import 'bootstrap/tables'
@import 'bootstrap/sprites'

@import 'images'

// Custom UI
@import 'style-x/navbar'
@import 'style-x/page-player'

html, body, #app, #pages, #pages > div
  height: 100%
  overflow: hidden

body
  background-color: #F7F7F7

