@import 'bootstrap/mixins'
@import 'bootstrap/variables'

// @import 'bootstrap/responsive'
@import 'bootstrap/responsive-utilities'
@import 'bootstrap/responsive-navbar'

@media (max-width: 767px)
  body
    padding-left: 0
    padding-right: 0

  .container, .navbar.container
    padding-left: 20px
    padding-right: 20px

@media (max-width: 979px)
  .navbar-fixed-top
    margin-bottom: 0px

