<style type="text/css">
  h1 { text-align: cneter; }

  .circle {
    border-radius: 50%;
    // height: 200px;
    // width: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
</style>

<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <div class="span4 circle" 
        style="background-image: url({{current_user.iconl}});">
      </div>
      <h6>{{current_user.name}}</h6>
    </div>
  </div>
</div>


