<%def name="css(url)"><link href="/public${url}" rel="stylesheet" type="text/css" /></%def>
<%def name="script(url)"><script src="/public${url}"></script></%def>
<%def name="static(url)">/public${url}</%def>
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>bubbler</title>

${ css('/css/bubbler/wall.css') }
${ css('/css/lib/jquery-ui.css') }

<script src="${ static('/js/lib/jquery-1.7.2.min.js') }"></script>
<script src="${ static('/js/lib/ember-0.9.8.1.js' )}"></script>
<script src="${ static('/js/lib/ember-data.js' )}"></script>
<script src="${ static('/js/bubbler/app.js' )}"></script>
</head>
<body>
<div id="page">
  <script type="text/x-handlebars">
    <div id="hd" class="clear">
      <h1 class="bublogo">bubbler - bub wall</h1>
      <div class="avatar" style="background-image:
        url({{unbound Bubbler.user.data.icon}}); background-size:54px 54px;">
      </div>
        <div class="meta">
          <span class="uid">{{Bubbler.user.data.title}}</span>
          <em>board: {{Bubbler.user.data.boardCount}}</em>
          <em>bub: {{Bubbler.user.data.bubCount}}</em>
          <em>收藏: {{Bubbler.user.data.collectCount}}</em>
        </div>
    </div>
  </script>
	<div id="bd" class="clear">
		<ul class="bublist">
			<li>
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img3.douban.com/lpic/s2870367.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
			<li>
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img1.douban.com/lpic/s4717272.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
			<li>
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img1.douban.com/lpic/s1643070.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
			<li class="ever">
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img1.douban.com/lpic/s1643071.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
			<li>
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img1.douban.com/lpic/s1643072.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
			<li>
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img1.douban.com/lpic/s1643073.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
			<li>
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img1.douban.com/lpic/s1643079.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
			<li class="ever">
				<a href="bubwall_list.html" class="bublink" style="background-image: url(http://img1.douban.com/lpic/s1643075.jpg);">
					<span class="title">那些年我们追过的小清新</span>
					<span class="shandow"></span>
				</a>
				<div class="shandow"></div>
			</li>
		</ul>
	</div>
</div>
<div id="ft" class="fixed clear">
	<a href="#" class="lablogo"><img src="/public/pics/labs_icon_logoV2.png" title="返回"></a>
	<div class="copyright">&copy; 2005－2012 douban.com, all rights reserved</div>
</div>
</body>
</html>
