<script type="text/x-handlebars-template" id="bub">
    {{#bubs}}
    <div class="bub-item" data-id="{{bub_id}}">
        <div class="bub-cover-wrapper">
            <a href="#" class="bub-cover" style="background-image: url(http://img1.douban.com/lpic/s4510602.jpg)">
                <span class="bub-title-bg"></span>
                <span class="bub-title">
                    <p>{{song_title}}</p>
                    <p>{{singers}}</p>
                    <p>{{album_title}}</p>
                </span>
            </a>
        </div>
        <ul class="related-bubs">
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li class="bub-item">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
            </li>
            <li>dsfsd</li>
        </ul>
    </div>
    {{/bubs}}
</script>
