<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="no-cache" http-equiv="Pragma">
    <meta content="Sun, 6 Mar 2005 01:00:00 GMT" http-equiv="Expires">
    <link rel="shortcut icon" href="http://img3.douban.com/labs/pics/favicon.ico" type="image/x-icon"/>
    <meta content="自由、创造，豆瓣实验室，为提供更豆瓣的服务而努力。" name="description"/>
    <title><%block name="title">Turkey FM</%block></title>
    <meta name="description" content="">
    <%block name="header_extra"></%block>
</head>
<body>
<%block name="main"></%block>
<div id="footer" class="footer">
    <div class="copyright">&copy; 2005－2012  ,all rights reserved</div>
</div>
<%block name="scripts">
<!-- less styles -->
<link rel="stylesheet/less" type="text/css" href="/public/less/bubbler.less">

<!-- libs scripts -->
<script type="text/javascript" src="/public/js/lib/less-1.3.0.min.js"></script>
<script type="text/javascript" src="/public/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/public/js/lib/handlebars-1.0.0.beta.6.js"></script>
<script type="text/javascript" src="/public/js/lib/underscore.js"></script>
<script type="text/javascript" src="/public/js/lib/backbone.js"></script>

<!-- Backbone scripts -->
<script type="text/javascript" src="/public/coffee/app.js"></script>
<script type="text/javascript" src="/public/coffee/faker.js"></script>
<script type="text/javascript" src="/public/coffee/routers.js"></script>
<script type="text/javascript" src="/public/coffee/models.js"></script>
<script type="text/javascript" src="/public/coffee/collections.js"></script>
<script type="text/javascript" src="/public/coffee/views.js"></script>
</%block>
</body>
</html>
