<%def name="handlebars(name)">
<script id="template-${name}" type="text/template">
<%include file="handlebars/${name}.html" /></script>
</%def>
<%inherit file="base.html" />
<%block name="header_extra">
% for n in ['bubitem']:
  ${handlebars(n)}
% endfor
</%block>
<%block name="main">
<div class="container" id="app-container">
  <%include file="mods/header.html" />
  <hr class="blank" style="height: 20px;" />
  <div class="row">
    <ul class="thumbnails bublist">
      <!-- bub item begin -->
      <!-- bub item end -->
    </ul>
  </div>
</div>
</%block>
