{% extends "base.html" %}
{% block header_extra %}
  <script type="text/javascript" src="http://localhost:8080/application.js"></script>
  <script type="text/javascript" src="/static/js/application.js"></script>
{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h1>Online Users</h1>
    </div>
    <div class="span10">
      <table class="table table-striped">
        <thead>
          <tr>
          	<th>#</th>
          	<th>Saying</th>
          </tr>
        </thead>
        <tbody id="chat-bd">
        </tbody>
      </table>

      <form action="#" id="postform" >
        message:
        <input type="text" class="input" name="text" id="post-msg" />
        <br />
        name:
        <input type="text" class="input-small" name="name" id="poster" />

        <input class="btn" type="submit" value="submit" />
      </form>

    </div>
  </div>
</div>
{% endblock %}


