{% extends "base.html" %}
{% block title %}Turkey Radio - Channels{% endblock %}
{% block header_extra %}
    <script src="/static/js/morelisten.js" type="text/javascript"></script>
{% endblock %}
{% block main %}
<div class="container">
   <div class="row">
      <div class="span4">
        <div class="well">
          <ul class="nav nav-list" id="channels">
            {% if request.cookies.is_login %}
              <li class="nav-header">Personal Channel</li>
              <li><a class="choose-channel" href="#" data-id="0">{{channels.personal}}</a></li>
            {% else %}
              <li class="nav-header">Login see your personal channel.</li>
            {% endif %}
            <li class="nav-header">
              Public Channels
            </li>
            {%for item in channels.public%}
            <li class="nav-header">
              <a data-toggle="collapse" data-parent="#channels" data-target="#cate-{{loop.index}}" href="#">{{item.cate}}</a>
            </li>
            <div class="collapse out" id="cate-{{loop.index}}">
            {% for channel in item.channels %}
              <ul class="nav nav-list">
                <li>
                  <a class="choose-channel" style="color:#777;" href="#"
                      data-id="{{channel.channel_id}}">{{channel.name}}</a>
                </li>
              </ul>
            {% endfor %}
            </div>
            {%endfor%}
          </ul>
        </div>
        <div class="well">
          {% if cookies.is_login %}
            Hello, {{cookies.user_name}}
            <a class="btn" href="/user/logout">Logout.</a>
          {% else %}
          <form action="/user/login" class="well" method="post">
            <label for="username">username</label>
            <input id="username" name="username" type="text"
            placeholder="i@yaofur.com" />
            <input id="password" name="password" type="password"
            placeholder="password" />
            <input class="btn" type="submit" value="Login" />
          </form>
          {% endif %}
      </div>
    </div>
    <div class="span8">
      <div class="well" id="current-song-info">
        <span class="label">Now Playing:</span>

        <span class="info">
        </span>

        <a href="#" class="btn pull-right" id="btn-refresh-song">
          <i class="icon-refresh"></i>
        </a>
        <a class="btn pull-right" id="btn-download" href="{{current.song.url}}">
          <i class="icon-download-alt"></i>
        </a>
        <a href="#" class="btn pull-right" id="btn-like">
          <i class="icon-heart-red"></i>
        </a>
        <a href="#" class="btn pull-right" id="btn-trash">
          <i class="icon-trash"></i>
        </a>
        <a href="#" class="btn pull-right" id="btn-skip">
          <i class="icon-chevron-right"></i>
        </a>
      </div>
      <table class="table table-striped" id="hear-list">
        <thead>
          <tr>
            <td>#</td>
            <td>Title</td>
            <td>Rate</td>
            <td>Artist</td>
            <td>Album</td>
          </tr>
        </thead>
        <tbody>
            <!-- to be replced -->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
