<%inherit file="base.html" />
<%block name="header_extra">
</%block>
<%block name="main">
<div class="container">
  <div id="header">
    <div class="avatar" style="background-image: url(http://img3.douban.com/icon/u2351894-10.jpg);"></div>
    <div class="back-link">
      <a href="#"> &lt; 返回 Tifa 的 Bub Wall</a>
    </div>
    <hr />
    <div class="introduce">
      <h3>那些年, 我们一起追过的小清新</h3>
      <p class="description"> 还记得那些年我们吃着有条踩着单车耳朵里塞满着那些卡带们吗, balabalabala简介要多少字数啊, 140够不够啊? </p>
    </div>
    <hr />
  </div>

  <div class="row">
    <ul class="thumbnails bubwall-list">
      <li class="bubwall span-3">
        <div class="bub-item" data-id="{{bub_id}}">
          <div class="bub-cover-wrapper">
            <a href="#" class="bub-cover" style="background-image: url(http://img1.douban.com/lpic/s4510602.jpg)">
              <span class="bub-title-bg"></span>
              <span class="bub-title">
                <span class="title">{{song_title}}</span>
                <span class="artist">{{singers}}</span>
                <span class="album">{{album_title}}</span>
              </span>
            </a>
          </div>

          <ul class="thumbnails related-bubs">
            <li class="span-3 bub-item">
            <div class="bub-avatar" style="background-image: url(http://img3.douban.com/icon/u1095157-5.jpg);">
              </div>
              <div class="bub-bd">
                <div class="bub-owner">Mockee</div>
                <div class="bub-comment">最喜欢这首歌了</div>
              </div>
            </li>
          </ul>
        </div>
      </li><!-- end of bubwall-->
    </ul>
  </div>
</div>
</%block>
