<html>
  <head>
    <script type="text/javascript">window._rock_host = '{{host}}';</script>
    <script src="http://{{host}}/static/components/ozjs/oz.js" type="text/javascript"></script>
    <script src="http://{{host}}/static/scripts/ozconfig.js" type="text/javascript"></script>
    <script src="http://{{host}}/static/scripts/iframe.js" type="text/javascript"></script>
  </head>
  <body></body>
</html>

