{% extends "base.html" %}
{% block header_extra %}
  <link rel="stylesheet" href="{{url_for('static', filename='styles/app.css')}}" />
{#
  <link rel="stylesheet" href="{{url_for('static', filename='anduin.css')}}" />
#}
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename="scripts/ozconfig.js") }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename="scripts/main.js") }}"></script>
{% endblock %}
{% block main %}
<!--
<nav class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="inner">
        <li>
          <a href="" class="active">SoundManager</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar navbar-fixed-top player-status">
  <div class="progress-play" style="width: 50%;"></div>
  <div class="navbar-inner">
    <div class="container">
      <div class="row bd">
        <h2 class="song-title">Did you know?</h2>
      </div>
      <div class="row ft">
        <div class="author">宋冬野 - 古德奈特, 楼沟鸡王</div>
        <div id="position"> 3:15 / 4:12 </div>
      </div>
    </div>
  </div>
</div>
-->
<div id="sinfo"></div>
<div class="container">
  big-cover-as-bg
</div>

<!-- -->

<div class="container">
  <div class="mod">
    <div class="hd">
      <h3>audio-player</h3>
    </div>
    <div class="bd layout">
      <div class="main">
        <aside class="col col4">
          <div class="progress progress-ark">
            <div class="bar" style="width: 20%;"></div>
          </div>
          <button class="btn">play</button>
        </aside>
      </div>
    </div>
  </div>
</div>

{% endblock %}




