{% extends "base.html" %}
{% block header_extra %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/app.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='styles/responsive.css')}}" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename="scripts/ozconfig.js") }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename="scripts/main.js") }}"></script>
{% endblock %}
{% block main %}
<div id="app">
  <div id="nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="nav-collapse collapse">
          <h3>TurkeyFM</h3>

          <ul class="nav">

            <li id="user-info">
            loading...
            </li>
            <!--
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  -->
            <li class="">
            <a href="/">Home</a>
            </li>
            <li class="">
            <a href="playing">Now Playing</a>
            </li>
            <li class="">
            <a href="./scaffolding.html">Hearted</a>
            </li>
            <li class="">
            <a href="#">Top</a>
            </li>
            <li class="">
            <a href="./customize.html">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end of navbars -->

  <div id="pages">
    <div id="page-player">
      <!-- this page shows the player view -->
      <div class="top-fixed">
        <div class="progress-container">
          <div class="progress-bar" style="width: 50%;"></div>
        </div>
      </div>
      <div class="cover-bg" 
        style="background-image: url('http://img3.douban.com/lpic/s7004295.jpg');">
        <!-- big cover -->
        <div id="info-header">
          Sex Drugs Internet <small>Artist - Albumtitle</small>
          <span id="playerposition" class="pull-right info">2:12 / 5:07</span>
        </div>
        <div id="actions" class="row-fluid">
          <a id="rate" class="span4">
            <i class="icon icon-heart-red"></i>
          </a>

          <a id="ban" class="span4">
            <i class="icon icon-trash"></i>
          </a>

          <a id="skip" href="{{sid}}" class="span4">
            <i class="icon icon-skip"></i>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

