<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Song Name</th>
      <th>Artist</th>
      <th>Album</th>
    </tr>
  </thead>
  <tbody>
    {{#songs}}
      <tr>
        <td>{{order}}</td>
        <td>{{title}}</td>
        <td>{{artist}}</td>
        <td>{{albumtitle}}</td>
      </tr>
    {{/songs}}
  </tbody>
</table>

