<div class="navbar-inner">
  <div class="container">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse">
      <h3>TurkeyFM</h3>
      <ul class="nav">
        <li id="user-info">
            <!-- sub template here-->
            <a href="">
              <img src="http://img3.douban.com/icon/u2419751-41.jpg" class="img-circle">
              <small class="center">听临</small>
            </a>
            <!-- ... -->
        </li>
        <li class="">
          <a href="playing">Now Playing</a>
        </li>
        <li class="">
          <a href="./scaffolding.html">Hearted</a>
        </li>
        <li class="">
          <a href="#">Top</a>
        </li>
        <li class="">
          <a href="./customize.html">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>

